<!-- Accès via : localhost:3000/welcome/*prénom* -->
<h1>Bienvenue <%= @first_name %> !</h1>
<p>Je n'ai pas pris le temps de faire de la mise en page; après tout c'est une page secrète que personne ne vera pas vrais?</p>